<head>
    <style>
        body {
            margin: 0; 
        }

        header {
            background-color: #ECECE9; 
            height: 60px;
            position: relative;
            display: flex;
            align-items: center;
            margin: 0; /* Add margin: 0; to remove any gap above the header */
        }

        .logo {
            margin-left: 30px;
            height: 60px;
            flex: 1;
        }

        .menu {
            margin-left: auto;
        }

        .lih {
            display: inline-block;
            margin-right: 20px;
            cursor: pointer;
            font-family: 'Inter', sans-serif; 
        }

        .lih:hover {
            background-color: #1574D2;
        }

        a {
            text-decoration: none;
            color: black;
            font-family: 'Inter', sans-serif; 
        }
    </style>
</head>

<body>
<header>
    <div>
        <img class="logo" src="~/images/anotherchance.png"/>
    </div>

    <div class="menu">
        <div class="ul" style="margin-right: 50px">
            <div class="li lih">About</div>
            <div class="li lih">Resources</div>
            <div class="li lih">Jobs</div>
            <div class="li lih">
                <a asp-controller="AppUser" asp-action="LoginAppUser">Login</a>
            </div>
            <div class="li lih">
                <a asp-controller="AppUser" asp-action="CreateAppUser">Sign up</a>
            </div>
        </div>
    </div>
</header>

</body>
</html>
