<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <title>Job</title>
    <style>
        .container3Split {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    </style>
</head>

<body>
    <partial name="_NavBar" />
    <div class="container3Split">
        <div>
            Test1
        </div>
        <div>
            Test2
        </div>
        <div>
            Test3
        </div>
    </div>
</body>