@model User
@*Rename to ___Create later*@
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

        .containerSplit {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 30px;
            padding: 20px;
        }

        .containerSplit2 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 30px;
            margin-left: 20px;
            margin-right: 40px;
        }

        .inputTxt {
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            padding: 8px;
            width: 100%;
            height: 35px;
            border: 1px solid #000000;
            border-radius: 5px;
        }

        .submitbtn {
            font-family: 'Inter', sans-serif;
            width: 100%;
            height: 35px;
            font-weight: bold;
            font-size: 18px;
            color: white;
            background-color: #1574d2;
            
        }

        .line {
            flex-grow: 1;
            border-top: 1px solid black;
        }

        label {
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            font-size: 18px;
        }

        .specBtn {
            width: 100%;
            padding: 12px;
            border: none;
            border-radius: 4px;
            margin: 5px 0;
            display: inline-block;
            font-size: 17px;
            line-height: 20px;
            text-decoration: none
        }

        .fb {
            background-color: #3B5998;
            color: white;
        }

        .twtr {
            background-color: #55ACEE;
            color: white;
        }

        .ggle {
            background-color: #dd4b39;
            color: white;
        }

    </style>
</head>

<body>

    <div class="container-fluid">

        <h1 style="margin-left: 20px;">Create An Account</h1>

        <div class="container-fluid" style="margin-left: 20px; margin-right: 20px;">

            <div class="containerSplit" >
                <div class="left">
                    <label asp-for="FirstName" style="margin-bottom:10px">First Name</label>
                    <div class="form-check">
                        <input class="inputTxt" type="text" placeholder="First Name"
                            asp-for="FirstName"/>
                    </div>
                </div>
               
                <div class="right">
                    <label asp-for="LastName" style="margin-bottom:10px">Last Name</label>
                    <div class="form-check">
                        <input class="inputTxt" type="text" placeholder="Last Name"
                            asp-for="LastName"/>
                    </div>
                </div>
            </div>

            <div style="padding: 20px">
                <label asp-for="Email" >Email</label>
                <div class="form-check">
                    <input class="inputTxt" type="text" placeholder="Email"
                           asp-for="Email" />
                </div>
            </div>

            <div style="padding: 20px">
                <label asp-for="Password">Password</label>
                <div class="form-check">
                    <input class="inputTxt" type="text" placeholder="Password"
                           asp-for="Password" />
                </div>
            </div>

            <div style="padding: 20px;">
                <input type="submit" value="Create an Account"
                        class="btn btn-primary submitbtn" style="width: 100%;" />

                <div style="margin-top: 10px">
                    <span>Already Have an Account? </span><a href="https://youtu.be/dQw4w9WgXcQ">Login</a>
                </div>
            </div>

            <div style="display: flex; align-items: center; height: 15px">
                <div class="line" style="margin-left: 20px"></div>

                    <span style="padding: 20px; font-size: 20px; color:grey;">OR</span>

                <div class="line" style="margin-right: 20px"></div>
            </div>

            <div class="containerSplit2" style="margin-top: 20px">

                <a href="#" class="fb specBtn" > @*Add Link later*@
                    <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                </a>
                
                <a href="#" class="twtr specBtn">
                    <i class="fa fa-twitter fa-fw"></i> Login with Twitter
                </a>
                
                <a href="#" class="ggle specBtn">
                    <i class="fa fa-google fa-fw"></i> Login with Google
                </a>
            </div>

        </div>
    </div>

</body>
