<!DOCTYPE html>
<html>
<head>
    <title>Data Protection Policy</title>
</head>
<body>
    <h1>Data Protection Policy</h1>

    <h2>Data Collection and Processing:</h2>
    <p>1.1. We collect and process personal data solely for the purpose of providing our services and connecting job seekers with employers.</p>
    
    <p>1.2. Data is collected directly from users during the registration process, job applications, and account updates.</p>
    <h2>Data Retention:</h2>
    <p>2.1. We retain personal data for as long as necessary to fulfill the purposes for which it was collected, comply with legal obligations, and resolve disputes.</p>

    <h2>Data Access and Sharing:</h2>
    <p>3.1. Access to personal data is restricted to authorized personnel who require it for legitimate business purposes.</p>
    <p>3.2. We may share personal data with employers when you apply for job listings on the App.</p>

    <h2>Data Security:</h2>
    <p>4.1. We implement technical and organizational measures to safeguard personal data against unauthorized access, loss, or destruction.</p>

    <h2>Third-Party Processors:</h2>
    <p>5.1. We may use third-party processors to store and manage data. These processors are selected based on their security practices and compliance with data protection regulations.</p>

    <h2>Data Subject Rights:</h2>
    <p>6.1. Users have the right to access, rectify, and erase their personal data, as well as to restrict or object to its processing.</p>
    <p>6.2. To exercise these rights or to make data protection inquiries, please contact us using the provided contact details.</p>

    <h2>Compliance:</h2>
    <p>7.1. We comply with applicable data protection laws and regulations in the jurisdictions where we operate.</p>
</body>
</html>