

<div class="frame-1 screen">
    <link rel="stylesheet" href="~\css\webStyle.css" />

    <div class="overlap-group3">
        <p class="there-is-always-another-chance inter-semi-bold-white-24px">There is always another chance</p>
        <div class="rb_yrsg_2d_short_logo_colour-1"></div>
    </div>

    <div class="flex-col flex">

        <div class="flex-row flex">

            <div class="flex-col-1">
                <h1 class="Title">Create An Account!</h1>
                <div class="first-name-container">
                    <div class="first-name-box"></div>
                    <div class="first-name-text">
                        <div class="first-name inter-normal-black-20px">First Name</div>
                    </div>
                </div>
            </div>

            <div class="last-name-container">
                <div class="last-name-box"></div>
                <div class="last-name-text">
                    <div class="last-name inter-normal-black-20px">Last Name</div>
                </div>
            </div>

        </div>

        <div class="email-container">
            <div class="email-box"></div>
            <div class="x-text">
                <div class="email inter-normal-black-20px">Email</div>
            </div>
        </div>

        <div class="password-container">
            <div class="password-box"></div>
            <div class="x-text">
                <div class="password inter-normal-black-20px">Password</div>
            </div>
        </div>

        <div class="creat-account-button">
            <div class="create-account inter-semi-bold-white-24px">Create Account</div>
        </div>

        <p class="already-have-an-account-login">
            <span class="inter-normal-black-20px">Already have an account?</span>
            <span class="span1"> Login</span>
        </p>

        <div class="flex-row-1">
            <img class="line-1 line" src="line-1.svg" alt="Line 1" />
            <div class="or inter-normal-black-20px">Or</div>
            <img class="line-2 line" src="line-2.svg" alt="Line 2" />
        </div>

        <div class="button-container">
            <div class="google-button">
                <img class="google" src="google.svg" alt="google" />
                <div class="sign-up-with-google sign-up-with inter-normal-black- 20px">Sign up with Google</div>
            </div>
            <div class="gmail-button">
                <div class="overlap-group">
                    <img class="facebook" src="facebook.svg" alt="Facebook" />
                    <img class="gmail" src="gmail.svg" alt="gmail" />
                </div>
                <div class="sign-up-with-gmail sign-up-with inter-normal-black- 20px">Sign up with Gmail</div>
            </div>
            <div class="facebook-button">
                <img class="facebook-1" src="facebook-1.png" alt="Facebook" />
                <div class="sign-up-with-facebook sign-up-with inter-normal-black- 20px">Sign up with Facebook</div>
            </div>
        </div>

    </div>
</div>