<head>
    <h2>Omg Index Page</h2>
</head>

<div>
    Holy Crap a Div :shocked:
</div>

<a asp-controller="AppUser" asp-action="CreateAppUser">Create an Account</a>
<a asp-controller="AppUser" asp-action="LoginAppUser">Login test</a>